<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css">
</head>
<body>
    <div id="header">
        <h1>ChatBot |  CODECRAFTERS</h1>
    </div>
    <div class="logo">
        <img src="logo.png" alt="">
        <div>
            <h1>LEGAL COMPASS</h1>
        </div>
        
    </div>
    
    <div id="chat-container">
        <div id="chat"></div>
        <div id="user-input-container">
            <input type="text" id="user-input" placeholder="Type your message..." autofocus>
           <!---- <button id="send-button">Send</button>-->
           <button id="send-button" type="button" class="btn btn-primary">Send</button>
        </div>
    </div>
    <div id="footer">
        &copy; This bot is powered by OpenAI API key | This bot may produce inaccurate information about people, places, or facts. Please contact a qualified individual for better legal advice.| 2023 | CONTACT: RAKESH H R (TECHNICAL SUPPORT API ISSUE)

    </div>
<script src="script.js"></script>
   

</body>
</html>
